<h1>Sistema de Votação de Personagens</h1>


    @for (personagem of personagens(); track $index) {<div class="personagem-item">
    <div class="personagens-lista">
       <img [src]="personagem.imagem" [alt]="personagem.nome" class="personagem-imagem">
       <h3>{{ personagem.nome }}</h3>
       <p>Votos: {{ personagem.votos }}</p>
        <button (click)="votarPersonagem($index)" class="botao-votar">Votar</button>  </div>
</div>
    }

<div class="zerar">
<button class="botao-votar" (click)="limparValores()">Zerar Votação</button>
</div>